
<form [formGroup]="service.formModel" class="register-form" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required"> <br>
        <label style="margin-top: 5%;">Nume utilizator</label> <br> 
        <input class="form-control" formControlName="UserName"> <br>
        <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Acest camp este obligatoriu.</label>
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required"> <br> <br>
            <label>Parola</label> <br> 
            <input type="password" class="form-control" formControlName="Password"> <br>
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Acest camp este obligatoriu.</label> <br>
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Parola contine minim 4 caractere.</label>
        </div>
        <div class="form-group required"> <br> 
            <label>Confirmare parola</label> <br> 
            <input type="password" class="form-control" formControlName="ConfirmPassword"> <br>
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirmarea parolei nu corespunde.</label>
        </div>
    </div>
    <div class="form-group"> <br> <br>
        <label>Email</label> <br> 
        <input class="form-control" formControlName="Email"> <br>
        <label style="font-size: 15px; padding: 3px; background-color:rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Adresa de email invalida.</label>
    </div>
    <div class="form-group"> <br> <br>
        <label>Nume</label> <br> 
        <input class="form-control" formControlName="LastName">
    </div>
    <div class="form-group"> <br> <br>
        <label>Prenume</label> <br> 
        <input class="form-control" formControlName="FirstName">
    </div>
    <div class="form-group"> <br> <br>
        <label>CNP</label> <br> 
        <input class="form-control" formControlName="CNP">
    </div>
    <div class="form-group"> <br> <br>
        <label>Adresa</label> <br> 
        <input class="form-control" formControlName="Address">
    </div>
    <div class="form-group"> <br> <br>
        <label>Telefon</label> <br> 
        <input class="form-control" formControlName="PhoneNumber">
    </div>
    <div class="form-group"> <br> <br>
        <label>Cont</label> <br> 
        <select formControlName="Role">
            <option>Client</option>
            <option>Operator Bancar</option>
        </select>
    </div>
    
    <div class="form-row"> <br> <br>
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" style="bottom: 15px;" class="btn btn-lg hero-btn" [disabled]="!service.formModel.valid">Inregistrare</button>
        </div>
    </div>
</form>
