<!-- <p>home works!</p>
<a routerLink='/user/login' routerLinkActive='active'>CONECTARE</a> -->


<section class="header">
    <div class="text-box">
        <h1>Aplicatie Bancara</h1>
        <p>Selecteaza optiunea potrivita pentru dumneavoastra.
        </p>
        <button routerLink='/user/login' routerLinkActive='active' class="hero-btn">Sunt Client</button> <br> <br>
        <button routerLink='/banking-operator' routerLinkActive='active' class="hero-btn">Sunt Operator Bancar</button> <br> <br>
    </div>
</section>





